html {
    background-color: lightblue;

}

h1 {
    color: #101050;
    background-color:#1235;
    text-align: center;
    font-size: 24px;
    position: relative;
    column-span: all

}

body {
    background-color: aliceblue;
    margin-left: auto;
    margin-right:auto;
    padding:20px

}
article {
    padding: 20px;
    display:inline-table;
    position: relative;
}

p {
    color: #4d3d20;
    font-weight: bold;
    padding: 20px;

}
body > header > img {
    display:block;
    max-width: 80%;
}

footer {
    text-align: center;
    border-top: #141313;
    column-span:all
}

h2 {
    color:#101050;
    font-size: 20px;
}

header {
    font-size: 24px;
    color: darkslategrey;
    text-align: center;
    padding:20px;
}


section {
    margin-left: 20%;
}

li {
    display: inline-block;
    /*float: center;*/
    border-style: inset;
    padding: 20px;
}

/* visited link */
a:visited {
    color: darkblue;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: darkgray;
}
.gallery-table {
    margin-left: auto;
    margin-right: auto;
}

.gallery-table td {
    padding: 25px;
}


.gallery > .caption {
    position:absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;

}

article {
    display:inline;
    padding-top: 10px;
    vertical-align: middle;
    object-position: center;
}

body > article > h2 {
    text-align: left;
}

body > article > table {
    border-style: solid;
    border-collapse: collapse;
    width: 80%;
}

body > article > table > th, tr, td {
    border-style: solid;
    border: 1px solid black;
}

/*body > article > table, td, th {*/
/*    border: 1px solid black;*/
/*}*/

.stories {
    column-count: 3;
    column-gap: normal;
    column-rule-style:double;
    column-width: auto;
    column-fill: auto;
}
iframe {
    position: relative;
    margin: auto;
    padding: 20px;
    text-align: center;
        
}

.gallery {
    box-sizing: content-box;
    resize: horizontal;
    
}

.iframe {
    position: relative;
    margin: auto;
    padding: 20px;
    text-align: center;
}



audio {
    position: relative;
    margin: auto;
    padding: 20px;
    text-align: center;
    
}

div {
    text-align: center;
}

form {
    padding:20px;
    background-color: gainsboro;
}

legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 20px;
}

